* {
    margin: 0;
    border: 0;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li a {
    min-width: 100px;
    padding: 15px; /* Adjust padding as needed */
    color: white; /* Darker text color */
    font-weight: bold; /* Clearer text */
    align-items: center; /* Center content vertically */
    justify-content: space-between; /* Space content horizontally */
    background-color: #999;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

li a:hover {
    background-color: #222; /* Darker hover background */
    color: #888; /* White text on hover */
}