body {
    background-color: #eaeaea;
    margin: 0;
}

header {
background-color: #111;
padding: 5vh 10vw 10vh 10vw;
margin: 0;
}

nav {
    font-family: sans-serif;
    font-size: medium;
    font-weight: 500;
    margin-top: 50px;
}

nav a {
    text-decoration: none;
    color: #eaeaea;
}

.btn {
    padding: 20px;
    border: #eaeaea 1px solid;
}

h1 {
    color: #eaeaea;
    font-family: sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 900;
}

main {
    padding: 5vh 10vw;
}