* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    background-color: slategray;
    color: black;
    padding-top: 25px;
    line-height: 1.8cm;

}

h2 {
    text-align: center;
    background-color: antiquewhite;
    color: black;
    padding-top: 25px;
    line-height: 1.8cm;
}

nav {
    padding-left: 5px;
    background-color: antiquewhite;
}

footer {
    text-align: center;
    background-color: slategray;
    color: black;
    padding-left: 5px;
    padding-top: 0.6cm;
}
img {
    width:15vw;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  main{
    text-align: center;
    background-color:antiquewhite;
    padding-left: 5px;
  }

  .cuadro {
    border: 2px solid #333;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    margin: auto;

}

 .centrandoP {
    text-align: center;
}

p {
    font-size: large;
}

.cuadro2 {
    border: 2px solid #1f1c1c;
padding: 15px;
background-color: #f5f5f5;
border-radius: 10px;
font-size: 16px;
font-weight: initial;
width: 200px;
text-align: center;
margin: auto;
}

a{
    background-color: white;
}

#este-destacado{
    background-color: slategray;
}

#este-biblo{
    background-color: #f5f5f5;
}

address p {
   background-color: slategray;
   padding-left: 0.4cm;
   padding-right: 0.4cm;
}

div{
 padding-bottom: 0.6cm ;
}

.logo-conteiner img {
    width: 70px; 
    height: 70px;
}


    .tituloInicio{
        color: black;
      }
    
      .sectionContacto{
        color: black;
        padding: 30px;
        margin-right: 10cm;
      }
    
    fieldset{
        background-color: white;
        color: black;
        padding: 25px;
        border-color: black;
        border-style: solid;
        
       
    }
    legend{
        color: black;
        font-weight: bold;
        font-size: large;
        padding: 5px;
    }
    
    
    
    .tabla{
        table {
            border-collapse: collapse;
            width: 72%;
          }
          
          th, td {
            border: 1px solid gray;
            padding: 8px;
            text-align: left;
          }
          
          th {
            background-color: #f2f2f2;
    }}
    
    .espaciado{
        padding-bottom: 3%;
    }
    .espaciado2{
        padding-bottom: 2%;
    }
    
    input[type="radio"] {
        margin-left: 30px;
    }
    input[type="checkbox"] {
        margin-left: 30px;
    }
    